:root {
  --navyBlue: #2557a7;
  --lightPink: #faf9f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow-y: scroll;
  height: 100vh;
}

.separator {
  background-color: var(--lightPink);
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.indeedStat {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.siteMap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 20px;
}

.siteMap ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.siteMap ul li::before {
  content: "- ";
}

.siteMap ul li:not(li:first-child) {
  margin-left: 10px;
}
